@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body{
    background-color: #FAFAFA;
}


ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;

}

.right-nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}

.nav-flex{
    display: flex;
    justify-content: space-between;
    gap: 44px;
    align-items: center;

}

nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 50px;
}

ul a{
    text-decoration: none;
    color: black;
}

nav a:hover,
nav a:focus-visible{
    color: #DB5825;
}

nav a:active{
    color: rgb(26, 12, 223);
}

input{
    border: none;
    background-color: #F5F5F5;
}

.nav-input{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 7px 12px 7px 20px;
    border-radius: 4px;
    align-items: center;
    background-color: #F5F5F5;
}