@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body{
    background-color: #FAFAFA;
}


ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;

}

.right-nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}

.nav-flex{
    display: flex;
    justify-content: space-between;
    gap: 44px;
    align-items: center;

}

nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 50px;
}

ul a{
    text-decoration: none;
    color: black;
}

nav a:hover,
nav a:focus-visible{
    color: #DB5825;
}

nav a:active{
    color: rgb(26, 12, 223);
}

input{
    border: none;
    background-color: #F5F5F5;
}

.nav-input{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 7px 12px 7px 20px;
    border-radius: 4px;
    align-items: center;
    background-color: #F5F5F5;
}

.hero{
    position: relative;
}
.background{
    width: 100vw;
    height: 275px;
    background-color: #0000001A;

}

.shopping-image{
    display: block;
    width: 100vw;
    height: 275px;
    object-fit: cover;
    mix-blend-mode: multiply;
    filter: blur(3px);
    opacity: 70%;
    position: absolute;
    top: 0px;
    left: 0px
}


.hero h2{
    font-family: roboto serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #1D1D1D;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 557px
}


.hero p{
    font-family: roboto serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #1D1D1D;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 520px
}

.intro{
    display: flex;
    justify-content: first baseline;
    gap: 50px;
}
.inner-intro{
    display: flex;
    justify-content: first baseline;
    gap: 50px;

}


.item-list img{
    max-width: 100%;
    width: 100vw;
    height: 447px;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    
}

.item-list{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 5px 20px;
}

.imagees{
    position: relative;
}

.slide{
    font-family: open sans;
    font-weight: 500;
    size: 16px;
    padding-inline: 10px;
    margin-block-end: 8px;
    
}

.price-flex{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 0;
    padding-inline: 10px;
    
}

.price{
    font-family: open sans;
    font-weight: 700;
    font-size: 20px;
    margin-block: 2px 4px;
    
}
.faint-price{
    font-family: open sans;
    font-weight: 400;
    font-size: 14px;
    text-decoration: line-through;
    padding-block-start: 3px;
    margin-block: 2px 4px;
}
.colored-rating{
    color: rgba(255, 196, 77, 1);
}

.plain-rating{
    color: rgba(173, 173, 173, 1);
}

.ratings{
    display: flex;
    gap: 4px;
    padding-inline: 10px;
    
}

.cart{
    height: 42.14px;
    font-family: open sans;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: rgba(219, 88, 37, 1);
    padding: 6.32px 10.54px;
    border-radius: 8.43px;
    border: 1.05px solid #AD441B;
    margin-inline-start: 70px;
    
   

}


.item-details{
    background-color: #F4F4F4;
    position: absolute;
    width: 290.5px;
    height: 129.27px;
    bottom: 20px;
    left: 14.75px;
    border-radius: 18.45px;
    
}

.imagees .bi-heart{
    width: 50px;
    height: 50px;
    align-items: center;
    background-color:#D9D9D966 ;
    color: white;
    border-radius: 25px;
    position: absolute;
    top: 14px;
    left: 257px;
    text-align: center;
    font-size: 1.5rem;
    vertical-align: auto;
    
}

.items{
    margin-block-end: 50px;
}



.banner-img{
    max-width: 100%;
    width: 100%;
    height: 497px;
    object-fit: cover;
    display: block;
}

.banner{
    position: relative;
}

.inner-banner{
    text-align: center;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
}

.inner-banner p{
    font-family: roboto serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;

}

.inner-banner h2{
    font-family: roboto serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
}

.inner-banner button{
    font-family: manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    height: 42px;
    color: white;
    background-color: #DB5825;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

footer{
    position: relative;
}

.footer-bg{
    max-width: 100%;
    width: 100%;
    height: 228.78px;
    background-color: #33160A;
    padding-block: 27px;
}

footer img{
    width: 285.58px;
    height: 71.66px;
    position: absolute;
    top: 40px;
    left: 50px;
}

.right-footer{
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: 58px;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    position: absolute;
    top: 40px;
    right: 50px;

}



footer input{
    background-color: #33160A;
    color: #A4A4A4;
    font-family: open sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

}


footer button{
    background-color: none;
    background-color: #DB5825;
    color: white;
    font-family: open sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;


}

.footer-info{
    font-family: articulat CF;
    font-weight: lighter;
    font-size: 16px;
    line-height: 145%;
    color: lightgray;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 25%;
    right: 25%;
    
    
}

span{
    text-decoration: underline;
    color: white;
    
}



footer .bi{
    color: white;
    padding: 12px;
    width: 27px;
    height: 27px;
    font-size: 1.2rem;
}

.social-icon{
    position: absolute;
    top: 120px;
    left: 50px;
    text-align: center;
}
