@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


body{
    background-color: #FAFAFA;
}

.logo{
    position: relative;
}
.logo img{
    display: block;

}

.menu-icon{
    font-size: 0.7rem;
    cursor: pointer;
    display: none;
    }

#menu-toggle{
        display: none;
    }

.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;

}

.right-nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}

.nav-flex{
    display: flex;
    justify-content: space-between;
    gap: 44px;
    align-items: center;

}

nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    top: 10px;
    left: 70px;
    right: 50px;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: black;
}

.nav-links a:hover,
.nav-links a:focus-visible{
    color: #DB5825;
}

.nav-links a:active{
    color: rgb(26, 12, 223);
}

input{
    border: none;
    background-color: #F5F5F5;
}

.nav-input{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 7px 12px 7px 20px;
    border-radius: 4px;
    align-items: center;
    background-color: #F5F5F5;
}

.hero h1{
    position: absolute;
    top: 130px;
    left: 280px;
    font-family: Roboto serif;
    width: 859px;
    height: 140px;
    font-size: 60px;
    font-weight: 900;
    line-height: 100%;
    text-align: center;
}

.hero-img img{
    border-radius: 20px;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.hero-img{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}

.carousel{
    height: 423px;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    width: 100%;
    position: absolute;
    top: 480px;
    left: 0;
}

.bg-image{
    height: 427.06px;
    object-fit: contain;
    margin-inline-start: 62%;
    margin-block-start: 130px;
    
}
.hero p{
    height: 54px;font-family: open sans;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    text-align: center;
    margin-block-start: 80px;
}

.shop-btn{
    background-color: #DB5825;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    font-family: manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}

.shop-btn a{
    color: white;
    text-decoration: none;
}

.shopping{
    text-align: center;
    margin-block: 0px 30px;
}

.hero h2{
    margin-block-start: 70px;
    font-family: roboto serif;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    width: 716px;
    margin: 0 auto;
    margin-block-end: 40px;
    
}

.item-image{
    max-width: 100%;
    width: 97%;
    height: 458px;
    object-fit: cover;
    padding: 10px 20px;
    border-radius: 30px; 
}

.item-status p{
    font-family: open sans;
    font-weight: 500;
    font-size: 16px;
}
.arrival{
    width: 100px;
    color: white;
    background-color: #525150;
    border-radius: 30px;
    padding: 10px 15px;
    align-items: center;
    font-family: open sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin: 0px;
}

.item-status-img{
    position: relative;
}
.item-status{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 333px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 7px;
    border-radius: 50px;
    position: absolute;
    top: 393px;
    left: 494px;
}

.item-list img{
    max-width: 100%;
    width: 100vw;
    height: auto;
    display: block;
    border-radius: 12px;
    
}

.item-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    padding: 5px 20px;
}

.imagees{
    position: relative;
}

.slide{
    font-family: open sans;
    font-weight: 500;
    font-size: 16px;
    padding-inline: 10px;
    margin-block-end: 8px;
    
}

.price-flex{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 0;
    padding-inline: 10px;
    
}

.price{
    font-family: open sans;
    font-weight: 700;
    font-size: 20px;
    margin-block: 2px 4px;
    
}
.faint-price{
    font-family: open sans;
    font-weight: 400;
    font-size: 14px;
    text-decoration: line-through;
    padding-block-start: 3px;
    margin-block: 2px 4px;
}
.colored-rating{
    color: rgba(255, 196, 77, 1);
}

.plain-rating{
    color: rgba(173, 173, 173, 1);
}

.ratings{
    display: flex;
    gap: 4px;
    padding-inline: 10px;
    
}

.cart{
    height: 42.14px;
    font-family: open sans;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: rgba(219, 88, 37, 1);
    padding: 6.32px 10.54px;
    border-radius: 8.43px;
    border: 1.05px solid #AD441B;
    margin-inline-start: 70px;
    position: absolute;
    bottom: 13px;
    right: 10px;
    

}


.item-details{
    background-color: #F4F4F4;
    position: absolute;
    width: 290.5px;
    height: 129.27px;
    bottom: 20px;
    left: 14.75px;
    border-radius: 18.45px;
    
}

.imagees .bi-heart{
    width: 24px;
    height: 21.33px;
    align-items: center;
    background-color:#D9D9D966 ;
    color: white;
    padding: 10px;
    border-radius: 25px;
    position: absolute;
    top: 14px;
    left: 257px;
    text-align: center;
    font-size: 1.5rem;
    
    
}

.items{
    margin-block-end: 50px;
}

.product-info img{
    display: block;
    max-width: 100%;
    width: 100vw; 
    height: 628px;
    object-fit: cover;
    border-radius: 10px;

}

.product-img{
    display: flex;
    justify-content: space-between;
    gap: 2px;
    padding: 5px 20px;
}

.product-info{
    position: relative;
}
.product-img h3{
    position: absolute;
    top: 37%;
    height: 84px;
    padding: 18px 26px;
    border: 2px #FFFFFF solid;
    font-family: poppins;
    color: white;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 4%;
    border-radius: 40px;
}

.product-text-1{
    left: 15%;
}

.product-text-2{
    left: 5%;
}

.product-text-3{
    left: 20%;
}

.product-info p{
    position: absolute;
    width: 422px;
    max-width: 100%;
    height: 42px;
    top: 100%;
    left: 0px;
    font-family: open sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

}

.product-info button{
    position: absolute;
    height: 42px;
    top: 111%;
    left: 0px;
    color: white;
    background-color: #DB5825;
    border: 1px solid #DB5825;
    border-radius: 4px;
    padding: 2.81px 4.68px;
    font-family: open sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    

}

.product-card{
    margin-block-end: 200px;
}

.banner-img{
    max-width: 100%;
    width: 100%;
    height: 497px;
    object-fit: cover;
    display: block;
}

.banner{
    position: relative;
}

.inner-banner{
    text-align: center;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
}

.inner-banner p{
    font-family: roboto serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;

}

.inner-banner h2{
    width: 1056px;
    font-family: roboto serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
}

.inner-banner button{
    font-family: manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    height: 42px;
    color: white;
    background-color: #DB5825;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

footer{
    position: relative;
}

.footer-bg{
    max-width: 100%;
    width: 100%;
    height: 228.78px;
    background-color: #33160A;
    padding-block: 27px;
}

footer img{
    width: 285.58px;
    height: 71.66px;
    position: absolute;
    top: 40px;
    left: 50px;
}

.right-footer{
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: 58px;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    position: absolute;
    top: 40px;
    right: 50px;

}



footer input{
    background-color: #33160A;
    color: #A4A4A4;
    font-family: open sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

}


footer button{
    background-color: none;
    background-color: #DB5825;
    color: white;
    font-family: open sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;


}

.footer-info{
    font-family: articulat CF;
    font-weight: lighter;
    font-size: 16px;
    line-height: 145%;
    color: lightgray;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 25%;
    right: 25%;
    
}

span{
    text-decoration: underline;
    color: white;
    
}



footer .bi{
    color: white;
    padding: 12px;
    width: 27px;
    height: 27px;
    font-size: 1.2rem;
}

.line{
    display: none;
}

.social-icon{
    position: absolute;
    top: 120px;
    left: 50px;
    text-align: center;
}

@media (max-width: 600px){

    .logo{
        width: 91px;
        height: 72.8px;
    }

    
    .hero h1{
        font-size: 36px;
        position: static;
        text-align: center;
        width: 340px;
        height: auto;
        align-items: center;
        margin: 0 auto;
        margin-block-start: 20px;
        
    
    }

    .logo img{
        width: 91px;
        height: 72.8px;
    }

    nav img{
        width: 112px;
        height: 28.1px;
        
    }



    .hero-img img{
        width: 72.34px;
        max-width: 100%;
        height: 120px;
        border-radius: 4.26px;
        flex-shrink: 0;
    }

    .bg-image{
        width: 148.18px;
        height: 148.18px;
        object-fit: contain;
        margin-inline-start: 65%;
        margin-block-start: 40px;
    }

    .hero p{
        width: 340px;
        font-size: 14px;
        margin: 0 auto;
        margin-block-start: 30px;
    }

    .hero h2{
        font-size: 26px;
        text-align: center;
        width: 327px;
        height: 52px;
        margin: 0 auto;
        margin-block-end: 40px;
        
    }

    .shop-btn{
        background-color: #DB5825;
        color: white;
        padding: 10px 30px;
        border-radius: 4px;
        border: none;
    }

    .carousel{
        top: 350px;
        left: 0;
    }


    .item-image{
        max-width: 100%;
        width: 92%;
        height: 124px;
        border-radius: 3.25px; 
    }

    .item-status{
        width: 170px;
        gap: 6.07px;
        padding: 2.43px 4.25;
        border-radius: 18.2px;
        top: 85.6px;
        left: 25%;
        right:
        25%;
    }

    .item-status p{
        font-family: open sans;
        font-weight: 500;
        font-size: 8px;
    }
    .arrival{
        width: 48px;
        padding: 7px 10px;
        font-size: 8px;
    }

    .item-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        padding: 5px 20px;
    }

    .slide{
        font-size: 10px;
        padding-inline: 4;
        margin-block-end: 0px;
        padding-inline: 4px;
        margin-block-end: 1.5px 3px;
        
    }

    .price-flex{
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        margin: 0;
        padding-inline: 4px;
        
    }

    .price{
        font-size: 12px;
        margin-block: 0;
        margin-block: 1px 2px;
    }
    .faint-price{
        font-size: 8px;
        padding-block-start: 2px;
        margin-block: 0;
    }


    .ratings{
        font-size: 0.5rem;
        gap: 2px;
        padding-inline: 3px;
        
    }

    .cart{
        height: 20px;
        font-size: 8px;
        padding: 3px 5px;
        border-radius: 4px;
        border: 0.5px solid #AD441B;
        position: absolute;
        bottom: 8px;
        right: 5px;
        
 
    }


    .item-details{
        position: absolute;
        width: 158.9px;
        height: 61.35px;
        top: 156.07px;
        left: 7px;
        border-radius: 8.75px;
        
    }

    .imagees .bi-heart{
        width: 15.36px;
        height: 13.65px;
        border-radius: 16px;
        top: 11.16px;
        left: 133.5px;
        font-size: 1rem;
        
        
    }

    .product-card{
        overflow-x: auto;
        scroll-snap-type: mandatory;
        height: 420px;
        margin-block-end: 50px;

    }


    .product-info img{
        width: 243px; 
        max-width: none;
        height: 294px;
        display: block;
        object-fit: cover;
        border-radius: 10px;
        flex-shrink: 0;
        scroll-snap-align: center;

    }

     .product-img{
        display: flex;
        justify-content: space-between;
        gap: 4.68px;
        padding: 5px 10px;
    }


    .product-img h3{
        position: absolute;
        top: 37%;
        height: 23px;
        padding: 8.43px 12.17px;
        border: 0.94px #FFFFFF solid;
        font-size: 29.96px;
        border-radius: 18.73px;
        line-height: 22.47px;
    }

    .product-text-2{
        left: 12%;
    }

    .product-info p{
        width: 243px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;

    }

    .product-info button{
        top: 123%;
        left: 0px;
        padding: 2.81px 4.68px;
        font-size: 16px;
        line-height: 100%;
        

    }

    .banner-img{
        height: 209.73px;
    }

    .inner-banner{
        text-align: center;
        top: 20%;
        left: 10%;
        right: 10%;
    }

    .inner-banner p{
        font-size: 14px;
        width: 105px;
        margin: 0 auto;
        margin-block-end: 10px;
    }

    .inner-banner h2{
        width: 287px;
        font-size: 24px;
        margin: 0 auto;
        margin-block-end: 10px;
        
    }

    .inner-banner button{
        height: 33px;
        
    }

    footer{
        position: relative;
    }

    .footer-bg{
        max-width: 100%;
        width: 100%;
        height: 364px;
        background-color: #33160A;
        padding-block: 27px;
    }

    footer img{
        width: 197px;
        height: 49.43px;
        position: absolute;
        top: 40px;
        left: 20px;
    }

    .right-footer{
        justify-content: space-between;
        border: 0.91px solid #D2D2D2;
        border-radius: 9.07px;
        padding: 2px 5px 2px 5px;
        position: absolute;
        top: 160px;
        left: 20px;

    }



    footer input{
        font-size: 12px;
        line-height: 25.38px;
        text-align: start;
        

    }


    footer button{
        font-size: 12px;
        line-height: 26.29px;
        padding: 5.44px 10.88px;
        border: none;
        border-radius: 4px;


    }

    .footer-info{
        font-family: articulat CF;
        font-weight: lighter;
        font-size: 8px;
        position: absolute;
        bottom: 20px;
        left: 15%;
        right: 15%;

        
        
    }

    span{
        text-decoration: underline;
        color: white;
        
    }

    .line{
        max-width: 100%;
        width: 100%;
        height: 1px;
        background-color: white;
        position: absolute;
        bottom: 60px;
    }

    .social-icon{
        top: 110px;
        left: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    nav img{
        width: 235.58px;
        height: 65px;
    }

    nav{
        gap: 15px;
    }


    ul{
        font-size: 14px;
        gap: 15;
    }

    .right-nav{
        gap: 15px;
    }

    .nav-flex{
        gap: 40px;
    }

    .hero h1{
        left: 200px;
        width: 659px;
        height: 140px;
        font-size: 45px;
    }


    .slide{
        size: 14px;
       
        
    }

    .price{
        font-family: open sans;
        font-weight: 700;
        font-size: 18px;
        margin-block: 2px 4px;
        
    }
    .faint-price{
        font-family: open sans;
        font-weight: 400;
        font-size: 12px;
        text-decoration: line-through;
        padding-block-start: 3px;
        margin-block: 2px 4px;
    }
    

    .ratings{
        display: flex;
        gap: 4px;
        padding-inline: 10px;
        
    }

    .item-details{
        width: 200.5px;
        
    }

    .ratings{
        font-size: 0.8rem;
    }
    .cart{
        right: 10px;
        font-size: 12px;

    }

    .inner-banner h2{
        width: 850px;
        font-size: 50px;
    }
  

}

