@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body{
    background-color: #FAFAFA;
}

.logo{
    position: relative;
}
.logo img{
    display: block;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;

}

.right-nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}

.nav-flex{
    display: flex;
    justify-content: space-between;
    gap: 44px;
    align-items: center;

}

nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    top: 40px;
    left: 70px;
    right: 50px;
}

ul a{
    text-decoration: none;
    color: black;
}

nav a:hover,
nav a:focus-visible{
    color: #DB5825;
}

nav a:active{
    color: rgb(26, 12, 223);
}

input{
    border: none;
    background-color: #F5F5F5;
}

.nav-input{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 7px 12px 7px 20px;
    border-radius: 4px;
    align-items: center;
    background-color: #F5F5F5;
}

.hero h1{
    position: absolute;
    top: 130px;
    left: 280px;
    font-family: Roboto serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 100%;
    text-align: center;
}

.hero-img img{
    border-radius: 20px;
}

.hero-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.hero p{
    height: 54px;font-family: open sans;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    text-align: center;
    margin-block-start: 80px;
}

.shop-btn{
    background-color: #DB5825;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    font-family: manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}

.shopping{
    text-align: center;
    margin-block: 0px 30px;
}

.hero h2{
    
    font-family: roboto serif;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 4px;
    text-align: center;
    width: 716px;
    margin-inline-start: 25%;
    font-style: ;
    
}



.item-image{
    width:1320px ; height: 458px;
    object-fit: cover;
    padding: 10px 20px;
    border-radius: 30px; 
}

.item-status p{
    font-family: open sans;
    font-weight: 500;
    font-size: 16px;
}
.arrival{
    width: 100px;
    color: white;
    background-color: #525150;
    border-radius: 30px;
    padding: 10px 15px;
    align-items: center;
    font-family: open sans;
    font-weight: 500;
    font-size: 16px;
    line height: 100%;
    margin: 0px;
}

.item-status-img{
    position: relative;
}
.item-status{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 333px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 7px;
    border-radius: 50px;
    position: absolute;
    top: 393px;
    left: 494px;
}

.item-list img{
    display: block;
    border-radius: 12px;
    
}

.item-list{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 5px 20px;
}

.imagees{
    position: relative;
}

.slide{
    width: 1409px;
    font-family: open sans;
    font-weight: 500;
    size: 16px;
    padding-inline: 10px;
    margin-block-end: 8px;
    
}

.price-flex{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 0;
    padding-inline: 10px;
    
}

.price{
    font-family: open sans;
    font-weight: 700;
    font-size: 20px;
    margin-block: 2px 4px;
    
}
.faint-price{
    font-family: open sans;
    font-weight: 400;
    font-size: 14px;
    text-decoration: line-through;
    padding-block-start: 3px;
    margin-block: 2px 4px;
}
.colored-rating{
    color: rgba(255, 196, 77, 1);
}

.plain-rating{
    color: rgba(173, 173, 173, 1);
}

.ratings{
    display: flex;
    gap: 4px;
    padding-inline: 10px;
    
}

.cart{
    height: 42.14px;
    font-family: open sans;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: rgba(219, 88, 37, 1);
    padding: 6.32px 10.54px;
    border-radius: 8.43px;
    border: 1.05px solid #AD441B;
    margin-inline-start: 70px;
    
   

}


.item-details{
    background-color: #F4F4F4;
    position: absolute;
    width: 290.5px;
    height: 129.27px;
    bottom: 20px;
    left: 14.75px;
    border-radius: 18.45px;
    
}

.imagees .bi-heart{
    width: 50px;
    height: 50px;
    align-items: center;
    background-color:#D9D9D966 ;
    color: white;
    border-radius: 25px;
    position: absolute;
    top: 14px;
    left: 257px;
    text-align: center;
    font-size: 1.5rem;
    vertical-align: auto;
    
}

.items{
    margin-block-end: 50px;
}

.product-card img{
    width: 100vh;
    object-fit: cover;

}

.product-card{
    display: flex;
}