@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body{
    background-color: #FAFAFA;
}

.logo{
    position: relative;
}
.logo img{
    display: block;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;

}

.right-nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}

.nav-flex{
    display: flex;
    justify-content: space-between;
    gap: 44px;
    align-items: center;

}

nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    top: 40px;
    left: 70px;
    right: 70px;
}

ul a{
    text-decoration: none;
    color: black;
}

input{
    border: none;
    background-color: #F5F5F5;
}

.nav-input{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 7px 12px 7px 20px;
    border-radius: 4px;
    align-items: center;
    background-color: #F5F5F5;
}

.hero h1{
    position: absolute;
    top: 130px;
    left: 280px;
    font-family: Roboto serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 100%;
    text-align: center;
}

.hero img{
    border-radius: 20px;
}

.hero-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.hero p{
    height: 54px;font-family: open sans;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    text-align: center;
    margin-block-start: 80px;
}

.shop-btn{
    background-color: #DB5825;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    font-family: manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}

.shopping{
    text-align: center;
    margin-block: 0px 30px;
}

.hero h2{
    
    font-family: roboto serif;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 4px;
    text-align: center;
    width: 716px;
    margin-inline-start: 25%;
    font-style: ;
    

}